{% extends 'db_classifier_app/base_generic.html' %}

{% block content %}
    <h1>Database Recommender</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="rows">Number of Rows:</label>
    <input type="number" id="rows" name="rows" value="{{ rows }}" required>

<select id="data_structure" name="data_structure" required>
    <option value="1" {% if data_structure == "1" %}selected{% endif %}>1. Join Intensive: 2 - Compute Intensive: 1 - Search Intensive: 3</option>
    <option value="2" {% if data_structure == "2" %}selected{% endif %}>2. Join Intensive: 1 - Compute Intensive: 3 - Search Intensive: 1</option>
    <option value="3" {% if data_structure == "3" %}selected{% endif %}>3. Join Intensive: 1 - Compute Intensive: 1 - Search Intensive: 5</option>
    <option value="4" {% if data_structure == "4" %}selected{% endif %}>4. Join Intensive: 1 - Compute Intensive: 1 - Search Intensive: 4</option>
    <option value="5" {% if data_structure == "5" %}selected{% endif %}>5. Join Intensive: 1 - Compute Intensive: 4 - Search Intensive: 1</option>
    <option value="6" {% if data_structure == "6" %}selected{% endif %}>6. Join Intensive: 4 - Compute Intensive: 3 - Search Intensive: 1</option>
    <option value="7" {% if data_structure == "7" %}selected{% endif %}>7. Join Intensive: 5 - Compute Intensive: 3 - Search Intensive: 1</option>
</select>

<div class="radio-group">
    {% for s in "12345" %}
        <label>
            <input type="radio" name="server" value="averages_server{{ s }}.json" {% if server == "averages_server"|add:s|add:".json" %}checked{% endif %} required>S{{ s }}
        </label>
    {% endfor %}
</div>
        <div class = "submit-button">
            <input type="submit" value="Submit" >
        </div>
    </form>
<div style="text-align:center; display: {% if not top_databases %}none{% endif %};" class="results">
        {% if top_databases %}
            {% for db, insertion_time, query_time in top_databases %}
                <p><span class ="bigger"><b>{{ forloop.counter }}. {{ db }}</b></span></p>
                <p><b>Insertion Time</b>: {{ insertion_time }}</p>
                <p><b>Query Time</b>: {{ query_time }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
